<launch>
    <arg
        name="config_file"
        default="$(find r300_yolo_detector)/config/target_snapshot_recorder.yaml"
    />

    <node
        pkg="r300_yolo_detector"
        type="target_snapshot_recorder.py"
        name="r300_target_snapshot_recorder"
        output="screen"
        respawn="true"
        respawn_delay="3.0"
    >
        <rosparam
            command="load"
            file="$(arg config_file)"
        />
    </node>
</launch>
